.wp-smart-pagination {
  position: relative;
  display: table-cell;
}
.wp-smart-pagination a {
  vertical-align: middle;
}
.wp-smart-pagination:before,
.wp-smart-pagination:after {
  content: '';
  display: table;
  clear: both;
}
.wpsp-hidden {
  display: none;
  visibility: hidden;
}
.wpsp-page-nav,
.wpsp-page-nav-form {
  display: inline;
  float: left;
}
.wpsp-page-nav {
  display: table-cell;
}
.wpsp-page-nav .page-numbers {
  vertical-align: top;
  padding: 0.428571rem 0.857142rem;
  border: 1px solid #ececec;
  display: inline-block;
  background: #eeeeee;
  text-decoration: none;
  line-height: normal;
}
.wpsp-page-nav .page-numbers:hover,
.wpsp-page-nav .page-numbers.current {
  background: #d2d2d2;
  border: 1px solid #d2d2d2;
}
.wpsp-page-nav-form {
  margin-left: 5px;
}
.wpsp-page-nav-form input[type="text"] {
  padding: 0.428571rem;
  border-radius: 0;
}
.wpsp-page-nav-form input[type="submit"] {
  padding: 0.428571rem 0.714286rem;
  font-size: 0.785714rem;
  line-height: 1.42857;
  font-weight: normal;
  color: #7c7c7c;
  background-color: #e6e6e6;
  background-repeat: repeat-x;
  background-image: -moz-linear-gradient(center top, #f4f4f4, #e6e6e6);
  border: 1px solid #d2d2d2;
  border-radius: 0;
  box-shadow: 0px 1px 2px rgba(64, 64, 64, 0.1);
}
